form > input,
form > select {
    padding-right: 20px;
    padding-left: 20px;

    border: 1px solid grey;
    border-radius: 4px;
    height: 40px;
    width: 75%;

    font-family: 'News Cycle', 'Arial', sans-serif;
    font-size: 64%;
}
