#perfil {
    box-shadow: 4px 4px 1px black;
    background-color: white;
    padding: 32px;
    margin: auto;
    width: 84%;
}

#perfil p {
    padding: 8px 0 8px 0;
}

#logoff {
    float: right;
}

#logoff input {
    padding-bottom: 32px;
    position: relative;
    left: 84%;
    top: -4vh;
}

#perfil #titulo {
    font-weight: bold;
}

.btn {
    font-family: 'Open Sans Condensed';
    font-size: 16px;
    padding: 16px;
}

.abnt {
    text-align: center;
    font-size: 32px;
    margin: auto;
    width: 50%;
}

.btns {
    margin: auto;
    width: 75%;
}