main > *, details > * { margin: 16px 0 16px 16px; }

b { font-weight: bold; }

ul.cadastro {
    text-align: justify;
    padding-left: 32px;
    line-height: 1.5;
    width: 50%;
}

ul.cadastro > * {
    border-top: 2px solid var(--verde0);
    padding-top: 16px;
    padding: 8px;
}